extends layout

block content
  body
    p Test
    each question in questions
      ul
        li= question.question_body
        li= question.answer_a
        li= question.answer_b
        li= question.answer_c
        