block content
  body
    form
      fieldset
        label(for='name') Your Name
        input#name(type='text', placeholder='Your Name')
        label(for='email') Your Email
        input#email(type='email', placeholder='Your Email')
        label(for='password') Your Password
        input#password(type='password', placeholder='Your Password')
        button(type='submit') Sign Up
            
          
