extends layout

block content
  body
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href='') Your Site
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='#') Admin
    .splash-container
      .splash
        each question in questions
          h1.splash-head= question.question_body
            ul.splash-subhead
              li= question.answer_a
          
        