extends layout

block content
  body
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href='') Your Site
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='#') Admin
    .splash-container
      .splash
        h1.splash-head Big Bold Text
        p.splash-subhead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p
          a.pure-button.pure-button-primary(href='http://purecss.io') Get Started
    .footer.l-box.is-center
      p  
        | View the source of this layout to learn more. Made with love by the YUI Team.
