doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='./public/app.css')

    script(src='//code.jquery.com/jquery-1.11.3.min.js')  

    script.
      $(document).ready(function() {
      $('.button').on("click", function(e) {
        e.preventDefault();
      var data = {}
      data.answer = $( "input:checked" ).val();
      $.ajax({
      type: "POST",
      url: "/create",
      data: JSON.stringify(data);
      success: function(data) {
      
      }
      });
      });
      });
  
  body
  block content
