extends ../layout

block content
  body
    h1 New Question
    form(action="/question/create", method="post")
      fieldset
          label Question
          input#name(type='text', placeholder='Question', name="question")
          label Answer One
          input#password(type='text', placeholder='Answer One', name='answer_a')
          label Answer Two
          input#email(type='text', placeholder='Answer Two', name='answer_b')
          label Answer Three
          input#foo(type='text', placeholder='Answer Three', name='answer_c')
          label Answer Four
          input#foo(type='text', placeholder='Answer Four', name='answer_d')
          button(type='submit') Submit  

